openapi: 3.0.3
info:
  title: Collection Management System API
  version: 1.9.1
  license:
    name: Proprietary
    url: https://finance.mns.af
  description: |
    Stage 10.4 adds acceptance-only verification endpoints (unavailable in production).

    Stage 1–5 APIs for the Finance Collection Management System (auth, RBAC,
    Zoho sync, customers/invoices/debtors, assignments, visits, routes,
    promises, notes, evidence, notifications, collectors, reports, payments,
    receipts, collector wallets, reversals, Zoho payment sync, cash handovers,
    branch cashboxes, and the Stage 6 WhatsApp Cloud API foundation).

    Stage 5.1 P0 adds Zoho sync health, organization structure (locations/tags/
    accounts/payment modes), circuit breakers, failed-job cleanup, and
    location-based branch mapping helpers. Stage 5.1 P1 adds mapping review,
    conflict resolution, failed-job archival, and role-aware dashboards.

    Stage 7 adds ticketing, departmental tasks, SLA/escalation, WhatsApp ticket
    intake, installation queue (not Stage 8 CRM), attachments, work logs, and
    operations dashboards/search/reports.

    **Response envelope:** all JSON responses use
    `{ success, data, meta?, message?, errors? }`.

    **Branch isolation:** branch IDs supplied by the client are not trusted for
    authorization. Accessible branches are resolved from the authenticated
    user's permissions and branch assignments. Query filters such as
    `branch_id` may narrow results within allowed branches only.

    **Collector isolation:** collectors may only access assignment-owned
    resources (assignments, visits, routes, promises, notes, evidence, payments)
    that belong to their collector profile, unless they hold broader manage/view
    permissions.

    **Payments (Stage 4):** local confirm-before-Zoho; confirmed payments are
    never deleted (use reversals); cash credits collector wallets; receipt
    numbers are issued only on confirm. Public receipt verification is
    available at `GET /verify-receipt/{token}` (rate limited).

    **Cash custody (Stage 5):** collectors submit cash handovers; approval
    debits the collector wallet and credits the branch cashbox. Rejected
    handovers never move money. Already-handed-over payments require custody
    review before reversal.
servers:
  - url: https://finance.mns.af/api/v1
    description: Production
  - url: /api/v1
    description: Relative (same origin)
tags:
  - name: Health
  - name: Auth
  - name: Users
  - name: Branches
  - name: Roles
  - name: Audit
  - name: Settings
  - name: Zoho
  - name: Customers
  - name: Invoices
  - name: Debtors
  - name: Assignments
  - name: Visits
  - name: Routes
  - name: Promises
  - name: Notes
  - name: Evidence
  - name: Notifications
  - name: Collectors
  - name: Reports
  - name: Payments
  - name: Receipts
  - name: Wallets
  - name: Reversals
  - name: Mapping
  - name: Ownership
  - name: Custody
  - name: WhatsApp
  - name: Tickets
  - name: Tasks
  - name: Installations
  - name: SLA
  - name: Escalations
  - name: TicketIntake
  - name: WorkLogs
  - name: Attachments
  - name: Operations
  - name: Departments
  - name: TaskTemplates
  - name: CRM
  - name: Inventory
    description: Stage 9 inventory, assets, sites
  - name: Services
    description: Stage 10 ISP service lifecycle (no Radius)
  - name: Acceptance
    description: Stage 10.4 acceptance-only verification (404 in production)
security:
  - bearerAuth: []
paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      operationId: getHealth
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/HealthData'
        '503':
          description: Service degraded
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/HealthData'

  /acceptance/ping:
    get:
      tags: [Acceptance]
      summary: Acceptance environment ping
      security: []
      operationId: acceptancePing
      description: Returns 404 unless APP_ENV is acceptance, testing, or local.
      responses:
        '200': { description: Acceptance environment metadata }
        '404': { description: Not available in this environment }

  /acceptance/assert:
    post:
      tags: [Acceptance]
      summary: Assert acceptance database record
      security: []
      operationId: acceptanceAssert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity, key, value]
              properties:
                entity: { type: string, enum: [customer, lead, service, user, audit] }
                key: { type: string }
                value: {}
                expect: { type: object, additionalProperties: true }
      responses:
        '200': { description: Assertion passed }
        '422': { description: Assertion failed }
        '404': { description: Not available in this environment }

  /acceptance/stock-reconciliation:
    get:
      tags: [Acceptance]
      summary: Inventory stock ledger reconciliation
      security: []
      operationId: acceptanceStockReconciliation
      responses:
        '200': { description: Ledger identity ok }
        '422': { description: Ledger mismatch }
        '404': { description: Not available in this environment }

  /acceptance/fixtures:
    get:
      tags: [Acceptance]
      summary: Acceptance fixture counts
      security: []
      operationId: acceptanceFixtures
      responses:
        '200': { description: Fixture summary }
        '404': { description: Not available in this environment }

  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      security: []
      operationId: authLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginResponseData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          description: Account temporarily locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout (revoke current token)
      operationId: authLogout
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Auth]
      summary: Current authenticated user
      operationId: authMe
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/change-password:
    post:
      tags: [Auth]
      summary: Change password
      description: Invalidates all existing tokens after a successful change.
      operationId: authChangePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /users:
    get:
      tags: [Users]
      summary: List users
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Users]
      summary: Create user
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreUserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /users/{user}:
    parameters:
      - $ref: '#/components/parameters/UserId'
    get:
      tags: [Users]
      summary: Get user
      operationId: getUser
      responses:
        '200':
          description: User detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Users]
      summary: Update user
      operationId: updateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /users/{user}/disable:
    parameters:
      - $ref: '#/components/parameters/UserId'
    post:
      tags: [Users]
      summary: Disable user
      operationId: disableUser
      responses:
        '200':
          description: User disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /branches:
    get:
      tags: [Branches]
      summary: List branches
      operationId: listBranches
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Branches]
      summary: Create branch
      operationId: createBranch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, name_en]
              properties:
                code: { type: string }
                name_en: { type: string }
                name_fa: { type: string }
                is_active: { type: boolean }
      responses:
        '201':
          description: Branch created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /branches/{branch}:
    parameters:
      - name: branch
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Branches]
      summary: Get branch
      operationId: getBranch
      responses:
        '200':
          description: Branch detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Branches]
      summary: Update branch
      operationId: updateBranch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code: { type: string }
                name_en: { type: string }
                name_fa: { type: string }
                is_active: { type: boolean }
      responses:
        '200':
          description: Branch updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /roles:
    get:
      tags: [Roles]
      summary: List roles
      operationId: listRoles
      responses:
        '200':
          description: Roles list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /audit-logs:
    get:
      tags: [Audit]
      summary: List audit logs
      operationId: listAuditLogs
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /settings:
    get:
      tags: [Settings]
      summary: Get company settings
      operationId: getSettings
      responses:
        '200':
          description: Settings
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CompanySettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Settings]
      summary: Update company settings
      operationId: updateSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanySettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/status:
    get:
      tags: [Zoho]
      summary: Zoho connection status
      operationId: zohoStatus
      responses:
        '200':
          description: Connection status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/health:
    get:
      tags: [Zoho]
      summary: Zoho sync health (heartbeats, cursors, circuit breakers)
      operationId: zohoHealth
      responses:
        '200':
          description: Health payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/locations:
    get:
      tags: [Zoho]
      summary: List synced Zoho locations
      operationId: zohoLocations
      responses:
        '200':
          description: Locations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/location-mapping-review:
    get:
      tags: [Zoho]
      summary: Review location mappings, usage counts, and candidates
      operationId: zohoLocationMappingReview
      responses:
        '200':
          description: Location mapping review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/mapping-conflicts:
    get:
      tags: [Zoho]
      summary: List customers invoiced across multiple Zoho locations
      operationId: zohoMappingConflicts
      responses:
        '200':
          description: Mapping conflicts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/locations/{zohoId}/mapping-decision:
    post:
      tags: [Zoho]
      summary: Confirm a location mapping decision
      operationId: zohoLocationMappingDecision
      parameters:
        - name: zohoId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, confirmed]
              properties:
                action:
                  type: string
                  enum: [import_branch, link_existing, ignore, defer, non_operational]
                branch_id: { type: integer, nullable: true }
                confirmed: { type: boolean }
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Decision stored and mapping applied when applicable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/locations/{zohoId}/reprocess:
    post:
      tags: [Zoho]
      summary: Reprocess invoices and customers for a mapped location
      operationId: zohoLocationReprocess
      parameters:
        - name: zohoId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmed]
              properties:
                confirmed: { type: boolean }
                limit: { type: integer, minimum: 1, maximum: 5000 }
      responses:
        '200':
          description: Before/after counts and reprocessing statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/reporting-tags:
    get:
      tags: [Zoho]
      summary: List synced reporting tags with options
      operationId: zohoReportingTags
      responses:
        '200':
          description: Reporting tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/payment-modes:
    get:
      tags: [Zoho]
      summary: List synced Zoho payment modes
      operationId: zohoPaymentModes
      responses:
        '200':
          description: Payment modes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/structure/sync:
    post:
      tags: [Zoho]
      summary: Queue organization structure sync
      operationId: zohoStructureSync
      responses:
        '202':
          description: Queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/branch-mappings/preview-auto-match:
    post:
      tags: [Zoho]
      summary: Preview location auto-match classifications
      operationId: zohoPreviewAutoMatch
      responses:
        '200':
          description: Match preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/branch-mappings/apply-auto-match:
    post:
      tags: [Zoho]
      summary: Apply confirmed non-ambiguous auto-matches
      operationId: zohoApplyAutoMatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmed]
              properties:
                confirmed:
                  type: boolean
      responses:
        '200':
          description: Applied count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/branches/{id}/link-location:
    post:
      tags: [Zoho]
      summary: Link a local branch to a Zoho location
      operationId: zohoLinkBranchLocation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [zoho_location_id]
              properties:
                zoho_location_id:
                  type: string
      responses:
        '200':
          description: Updated branch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/locations/{zohoId}/import-as-branch:
    post:
      tags: [Zoho]
      summary: Import a Zoho location as a new local branch
      operationId: zohoImportLocationAsBranch
      parameters:
        - name: zohoId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created branch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/circuit-breakers/{type}/resume:
    post:
      tags: [Zoho]
      summary: Resume a paused Zoho sync circuit breaker
      operationId: zohoResumeCircuit
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Circuit resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/failed-jobs/cleanup:
    post:
      tags: [Zoho]
      summary: Dry-run or apply redundant Zoho failed-job cleanup
      operationId: zohoFailedJobsCleanup
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                apply:
                  type: boolean
                only_timestamp:
                  type: boolean
      responses:
        '200':
          description: Cleanup report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/failed-jobs:
    get:
      tags: [Zoho]
      summary: List and classify remaining Laravel failed jobs
      operationId: zohoFailedJobs
      responses:
        '200':
          description: Paginated classified failed jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/failed-jobs/archive:
    post:
      tags: [Zoho]
      summary: Archive and delete reviewed stale non-financial jobs
      operationId: zohoFailedJobsArchive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmed]
              properties:
                confirmed: { type: boolean }
                ids:
                  type: array
                  items: { type: integer }
      responses:
        '200':
          description: Archive report path and archived IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/organizations:
    get:
      tags: [Zoho]
      summary: List Zoho organizations
      operationId: zohoOrganizations
      responses:
        '200':
          description: Organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/test:
    post:
      tags: [Zoho]
      summary: Test Zoho API connectivity
      operationId: zohoTest
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/sync-jobs:
    get:
      tags: [Zoho]
      summary: List Zoho sync jobs
      operationId: zohoSyncJobs
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/sync-jobs/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    get:
      tags: [Zoho]
      summary: Get Zoho sync job
      operationId: zohoSyncJob
      responses:
        '200':
          description: Sync job detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /zoho/sync-jobs/{id}/retry:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Zoho]
      summary: Retry failed Zoho sync job
      operationId: zohoRetrySyncJob
      responses:
        '200':
          description: Retry queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/api-logs:
    get:
      tags: [Zoho]
      summary: List Zoho API logs
      operationId: zohoApiLogs
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/data-centers:
    get:
      tags: [Zoho]
      summary: List Zoho data centers
      operationId: zohoDataCenters
      responses:
        '200':
          description: Data centers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/settings:
    put:
      tags: [Zoho]
      summary: Update Zoho settings
      operationId: zohoUpdateSettings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data_center: { type: string }
                organization_id: { type: string, nullable: true }
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/oauth/redirect:
    get:
      tags: [Zoho]
      summary: Start Zoho OAuth (returns authorize URL)
      operationId: zohoOauthRedirect
      parameters:
        - name: data_center
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Authorize URL payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/oauth/callback:
    get:
      tags: [Zoho]
      summary: Zoho OAuth callback (browser redirect, no Bearer token)
      security: []
      operationId: zohoOauthCallback
      parameters:
        - name: code
          in: query
          schema: { type: string }
        - name: state
          in: query
          schema: { type: string }
        - name: error
          in: query
          schema: { type: string }
      responses:
        '302':
          description: Redirects to frontend after OAuth handling
        '400':
          description: OAuth error

  /zoho/disconnect:
    post:
      tags: [Zoho]
      summary: Disconnect Zoho
      operationId: zohoDisconnect
      responses:
        '200':
          description: Disconnected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/organizations/select:
    post:
      tags: [Zoho]
      summary: Select Zoho organization
      operationId: zohoSelectOrganization
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [organization_id]
              properties:
                organization_id: { type: string }
      responses:
        '200':
          description: Organization selected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/branch-mappings:
    get:
      tags: [Zoho]
      summary: List Zoho branch mappings
      operationId: zohoBranchMappings
      responses:
        '200':
          description: Branch mappings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Zoho]
      summary: Create Zoho branch mapping
      operationId: zohoStoreBranchMapping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                branch_id: { type: integer }
                zoho_location_id: { type: string }
                zoho_location_name: { type: string }
      responses:
        '201':
          description: Mapping created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/branch-mappings/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    put:
      tags: [Zoho]
      summary: Update Zoho branch mapping
      operationId: zohoUpdateBranchMapping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Mapping updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags: [Zoho]
      summary: Delete Zoho branch mapping
      operationId: zohoDestroyBranchMapping
      responses:
        '200':
          description: Mapping deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /zoho/reporting-tag-mappings:
    get:
      tags: [Zoho]
      summary: List reporting tag mappings
      operationId: zohoReportingTagMappings
      responses:
        '200':
          description: Tag mappings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags: [Zoho]
      summary: Upsert reporting tag mappings
      operationId: zohoUpsertReportingTagMappings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Mappings upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /zoho/sync/{type}:
    post:
      tags: [Zoho]
      summary: Trigger Zoho sync
      operationId: zohoSync
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [customers, invoices, full]
      responses:
        '200':
          description: Sync queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /customers:
    get:
      tags: [Customers]
      summary: List customers
      description: |
        Results are branch-scoped from the authenticated user. Client-supplied
        `branch_id` filters are applied only within allowed branches.
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/BranchId'
        - name: status
          in: query
          schema: { type: string }
        - name: exclude_unmapped
          in: query
          schema: { type: boolean, default: true }
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /customers/unmapped:
    get:
      tags: [Customers]
      summary: List unmapped customers
      operationId: listUnmappedCustomers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /customers/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    get:
      tags: [Customers]
      summary: Get customer
      operationId: getCustomer
      responses:
        '200':
          description: Customer detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /customers/{id}/map-branch:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Customers]
      summary: Map customer to branch
      operationId: mapCustomerBranch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [branch_id]
              properties:
                branch_id: { type: integer }
      responses:
        '200':
          description: Customer mapped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /invoices:
    get:
      tags: [Invoices]
      summary: List invoices
      operationId: listInvoices
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/BranchId'
        - name: customer_id
          in: query
          schema: { type: integer }
        - $ref: '#/components/parameters/Search'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /invoices/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    get:
      tags: [Invoices]
      summary: Get invoice
      operationId: getInvoice
      responses:
        '200':
          description: Invoice detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /debtors:
    get:
      tags: [Debtors]
      summary: List debtors (outstanding > 0)
      operationId: listDebtors
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/BranchId'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /debtors/export:
    get:
      tags: [Debtors]
      summary: Export debtors CSV
      operationId: exportDebtors
      parameters:
        - $ref: '#/components/parameters/BranchId'
      responses:
        '200':
          description: CSV download
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /assignments:
    get:
      tags: [Assignments]
      summary: List assignments
      description: |
        Collectors only see their own assignments. Managers see branch-scoped
        assignments from authenticated permissions (client branch_id is not
        trusted as an access grant).
      operationId: listAssignments
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/BranchId'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/AssignmentStatus'
        - name: collector_id
          in: query
          schema: { type: integer }
        - name: customer_id
          in: query
          schema: { type: integer }
        - name: is_active
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Paginated assignments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Assignment'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Assignments]
      summary: Create assignment
      operationId: createAssignment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssignmentRequest'
      responses:
        '201':
          description: Assignment created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          assignment:
                            $ref: '#/components/schemas/Assignment'
                          warnings:
                            type: array
                            items: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /assignments/bulk:
    post:
      tags: [Assignments]
      summary: Bulk create assignments
      operationId: bulkAssignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAssignmentRequest'
      responses:
        '201':
          description: Bulk result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /assignments/auto-preview:
    post:
      tags: [Assignments]
      summary: Preview auto-assignment
      operationId: autoPreviewAssignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoPreviewAssignmentRequest'
      responses:
        '201':
          description: Preview operation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /assignments/auto-confirm:
    post:
      tags: [Assignments]
      summary: Confirm auto-assignment preview
      operationId: autoConfirmAssignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [operation_id]
              properties:
                operation_id:
                  type: integer
      responses:
        '200':
          description: Auto-assignment confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /assignments/unassigned-debtors:
    get:
      tags: [Assignments]
      summary: List unassigned debtors
      operationId: unassignedDebtors
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/BranchId'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /assignments/export:
    get:
      tags: [Assignments]
      summary: Export assignments CSV
      operationId: exportAssignments
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/AssignmentStatus'
      responses:
        '200':
          description: CSV download
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /assignments/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    get:
      tags: [Assignments]
      summary: Get assignment
      operationId: getAssignment
      responses:
        '200':
          description: Assignment detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Assignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /assignments/{id}/history:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    get:
      tags: [Assignments]
      summary: Assignment history
      operationId: assignmentHistory
      responses:
        '200':
          description: History entries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AssignmentHistory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /assignments/{id}/reassign:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Assignments]
      summary: Reassign to another collector
      operationId: reassignAssignment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReassignAssignmentRequest'
      responses:
        '200':
          description: New assignment created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Assignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /assignments/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Assignments]
      summary: Cancel assignment
      operationId: cancelAssignment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  maxLength: 2000
      responses:
        '200':
          description: Assignment cancelled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Assignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /assignments/{id}/accept:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Assignments]
      summary: Accept assignment (collector)
      operationId: acceptAssignment
      responses:
        '200':
          description: Assignment accepted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Assignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /assignments/{id}/viewed:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Assignments]
      summary: Mark assignment viewed (collector)
      operationId: viewedAssignment
      responses:
        '200':
          description: Assignment marked viewed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Assignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /collectors/workload:
    get:
      tags: [Assignments]
      summary: Collector workload summary
      operationId: collectorsWorkload
      parameters:
        - $ref: '#/components/parameters/BranchId'
      responses:
        '200':
          description: Workload rows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /visits:
    get:
      tags: [Visits]
      summary: List visits
      description: Collector isolation applies to assignment-owned visits.
      operationId: listVisits
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/BranchId'
        - name: customer_id
          in: query
          schema: { type: integer }
        - name: collector_id
          in: query
          schema: { type: integer }
        - name: outcome
          in: query
          schema:
            $ref: '#/components/schemas/VisitOutcomeCode'
      responses:
        '200':
          description: Paginated visits
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Visit'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Visits]
      summary: Create visit
      operationId: createVisit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVisitRequest'
      responses:
        '201':
          description: Visit created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Visit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /visits/outcomes:
    get:
      tags: [Visits]
      summary: List visit outcome codes
      operationId: visitOutcomes
      responses:
        '200':
          description: Outcome catalog
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/VisitOutcome'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /visits/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    get:
      tags: [Visits]
      summary: Get visit
      operationId: getVisit
      responses:
        '200':
          description: Visit detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Visit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /visits/{id}/correction-note:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Visits]
      summary: Add visit correction note
      operationId: visitCorrectionNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [correction_note]
              properties:
                correction_note:
                  type: string
                  maxLength: 5000
      responses:
        '200':
          description: Correction added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /visits/{id}/files:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Evidence]
      summary: Upload visit evidence file
      operationId: uploadVisitFile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: jpg, jpeg, png, pdf, webp; max 10MB
      responses:
        '201':
          description: File uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /routes:
    get:
      tags: [Routes]
      summary: List collection routes
      description: Collector isolation applies to assignment-owned routes.
      operationId: listRoutes
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/BranchId'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/RouteStatus'
        - name: collector_id
          in: query
          schema: { type: integer }
      responses:
        '200':
          description: Paginated routes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CollectionRoute'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Routes]
      summary: Create route
      operationId: createRoute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRouteRequest'
      responses:
        '201':
          description: Route created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CollectionRoute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /routes/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    get:
      tags: [Routes]
      summary: Get route
      operationId: getRoute
      responses:
        '200':
          description: Route detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CollectionRoute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Routes]
      summary: Update route
      operationId: updateRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRouteRequest'
      responses:
        '200':
          description: Route updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CollectionRoute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags: [Routes]
      summary: Delete draft route
      operationId: deleteRoute
      responses:
        '200':
          description: Route deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /routes/{id}/publish:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Routes]
      summary: Publish route
      operationId: publishRoute
      responses:
        '200':
          description: Route published
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CollectionRoute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /routes/{id}/start:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Routes]
      summary: Start route
      operationId: startRoute
      responses:
        '200':
          description: Route started
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CollectionRoute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /routes/{id}/complete:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Routes]
      summary: Complete route
      operationId: completeRoute
      responses:
        '200':
          description: Route completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CollectionRoute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /routes/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Routes]
      summary: Cancel route
      operationId: cancelRoute
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Route cancelled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CollectionRoute'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /routes/{id}/stops:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    put:
      tags: [Routes]
      summary: Reorder route stops
      operationId: reorderRouteStops
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stops]
              properties:
                stops:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [id, sequence]
                    properties:
                      id: { type: integer }
                      sequence: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Stops reordered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /promises:
    get:
      tags: [Promises]
      summary: List promises to pay
      description: Collector isolation applies to assignment-owned promises.
      operationId: listPromises
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/BranchId'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/PromiseStatus'
        - name: customer_id
          in: query
          schema: { type: integer }
      responses:
        '200':
          description: Paginated promises
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PromiseToPay'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Promises]
      summary: Create promise to pay
      operationId: createPromise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromiseRequest'
      responses:
        '201':
          description: Promise created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PromiseToPay'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /promises/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Promises]
      summary: Cancel promise
      operationId: cancelPromise
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Promise cancelled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PromiseToPay'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /promises/{id}/fulfill:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Promises]
      summary: Mark promise fulfilled
      operationId: fulfillPromise
      responses:
        '200':
          description: Promise fulfilled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PromiseToPay'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /promises/{id}/supersede:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Promises]
      summary: Supersede promise with a new one
      operationId: supersedePromise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupersedePromiseRequest'
      responses:
        '201':
          description: New promise created; old superseded
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PromiseToPay'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /notes:
    get:
      tags: [Notes]
      summary: List customer notes
      operationId: listNotes
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: customer_id
          in: query
          schema: { type: integer }
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Notes]
      summary: Create customer note
      operationId: createNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customer_id, body]
              properties:
                customer_id: { type: integer }
                assignment_id: { type: integer, nullable: true }
                body: { type: string, maxLength: 10000 }
      responses:
        '201':
          description: Note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /notes/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    patch:
      tags: [Notes]
      summary: Update customer note
      operationId: updateNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, maxLength: 10000 }
      responses:
        '200':
          description: Note updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /files/{id}/download:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    get:
      tags: [Evidence]
      summary: Download evidence file
      description: Collector isolation applies via the related visit/assignment.
      operationId: downloadFile
      responses:
        '200':
          description: File stream
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications:
    get:
      tags: [Notifications]
      summary: List notifications for current user
      operationId: listNotifications
      parameters:
        - $ref: '#/components/parameters/Page'
        - name: per_page
          in: query
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - name: unread_only
          in: query
          schema: { type: boolean }
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /notifications/read-all:
    post:
      tags: [Notifications]
      summary: Mark all notifications read
      operationId: readAllNotifications
      responses:
        '200':
          description: Marked count
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          marked: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /notifications/{id}/read:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    post:
      tags: [Notifications]
      summary: Mark notification read
      operationId: readNotification
      responses:
        '200':
          description: Notification marked read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /collectors:
    get:
      tags: [Collectors]
      summary: List collectors
      operationId: listCollectors
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: is_active
          in: query
          schema: { type: boolean }
      responses:
        '200':
          $ref: '#/components/responses/PaginatedGeneric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Collectors]
      summary: Create collector profile
      operationId: createCollector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: integer }
                employee_code: { type: string, maxLength: 50 }
                max_active_assignments: { type: integer, minimum: 1 }
                notes: { type: string }
      responses:
        '201':
          description: Collector created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /collectors/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPath'
    put:
      tags: [Collectors]
      summary: Update collector profile
      operationId: updateCollector
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                employee_code: { type: string, maxLength: 50 }
                max_active_assignments: { type: integer, minimum: 1 }
                is_active: { type: boolean }
                notes: { type: string }
      responses:
        '200':
          description: Collector updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /collector/dashboard:
    get:
      tags: [Collectors]
      summary: Current collector dashboard
      operationId: collectorDashboard
      responses:
        '200':
          description: Dashboard summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CollectorDashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Collector profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /reports/assignments-by-collector:
    get:
      tags: [Reports]
      summary: Assignments by collector report
      operationId: reportAssignmentsByCollector
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - $ref: '#/components/parameters/ExportCsv'
      responses:
        '200':
          description: Report rows or CSV
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /reports/unassigned-debtors:
    get:
      tags: [Reports]
      summary: Unassigned debtors report
      operationId: reportUnassignedDebtors
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - $ref: '#/components/parameters/ExportCsv'
      responses:
        '200':
          description: Report rows or CSV
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /reports/visits-by-outcome:
    get:
      tags: [Reports]
      summary: Visits by outcome report
      operationId: reportVisitsByOutcome
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - $ref: '#/components/parameters/ExportCsv'
      responses:
        '200':
          description: Report rows or CSV
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /reports/gps-mismatch:
    get:
      tags: [Reports]
      summary: GPS mismatch report
      operationId: reportGpsMismatch
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - $ref: '#/components/parameters/ExportCsv'
      responses:
        '200':
          description: Report rows or CSV
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /reports/overdue-promises:
    get:
      tags: [Reports]
      summary: Overdue promises report
      operationId: reportOverduePromises
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - $ref: '#/components/parameters/ExportCsv'
      responses:
        '200':
          description: Report rows or CSV
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /payment-methods:
    get:
      tags: [Payments]
      summary: List active payment methods
      operationId: listPaymentMethods
      responses:
        '200':
          description: Payment methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /payments/preview:
    post:
      tags: [Payments]
      summary: Preview payment allocations
      operationId: previewPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentDraftRequest'
      responses:
        '200':
          description: Preview result including effective_balance fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '422':
          $ref: '#/components/responses/ValidationError'

  /custody-reversals:
    get:
      tags: [CashCustody]
      summary: List custody reversals
      operationId: listCustodyReversals
      parameters:
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: branch_id
          schema: { type: integer }
      responses:
        '200':
          description: Custody reversal list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /custody-reversals/{id}:
    get:
      tags: [CashCustody]
      summary: Custody reversal detail
      operationId: getCustodyReversal
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Detail payload with payment, receipt, handover, cashbox, Zoho state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /custody-reversals/{id}/approve:
    post:
      tags: [CashCustody]
      summary: Approve custody-aware reversal
      operationId: approveCustodyReversal
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Approved custody reversal detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '422':
          $ref: '#/components/responses/ValidationError'

  /custody-reversals/{id}/reject:
    post:
      tags: [CashCustody]
      summary: Reject custody-aware reversal
      operationId: rejectCustodyReversal
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Rejected custody reversal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /payments/draft:
    post:
      tags: [Payments]
      summary: Create payment draft (requires idempotency_key)
      operationId: createPaymentDraft
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentDraftRequest'
      responses:
        '201':
          description: Draft created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '422':
          $ref: '#/components/responses/ValidationError'

  /payments:
    get:
      tags: [Payments]
      summary: List payments
      operationId: listPayments
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - name: status
          in: query
          schema: { type: string }
        - name: customer_id
          in: query
          schema: { type: integer }
        - name: collector_id
          in: query
          schema: { type: integer }
        - name: zoho_sync_status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Paginated payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /payments/{uuid}:
    get:
      tags: [Payments]
      summary: Get payment by UUID
      operationId: getPayment
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Payment detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/{uuid}/confirm:
    post:
      tags: [Payments]
      summary: Confirm local payment (issues receipt, credits wallet if cash, queues Zoho sync)
      operationId: confirmPayment
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idempotency_key: { type: string }
      responses:
        '200':
          description: Confirmed payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /payments/{uuid}/sync-status:
    get:
      tags: [Payments]
      summary: Payment Zoho sync status
      operationId: paymentSyncStatus
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sync status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /payments/{uuid}/retry-sync:
    post:
      tags: [Payments]
      summary: Retry Zoho payment sync
      operationId: retryPaymentSync
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /payments/{uuid}/reversal-request:
    post:
      tags: [Reversals]
      summary: Request payment reversal
      operationId: requestPaymentReversal
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
      responses:
        '201':
          description: Reversal requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /reversals/{id}/approve:
    post:
      tags: [Reversals]
      summary: Approve payment reversal
      operationId: approvePaymentReversal
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Reversal approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /reversals/{id}/reject:
    post:
      tags: [Reversals]
      summary: Reject payment reversal
      operationId: rejectPaymentReversal
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Reversal rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /receipts/{uuid}:
    get:
      tags: [Receipts]
      summary: Get receipt
      operationId: getReceipt
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /receipts/{uuid}/pdf:
    get:
      tags: [Receipts]
      summary: Download receipt PDF
      operationId: getReceiptPdf
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: PDF binary
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /receipts/{uuid}/print-log:
    post:
      tags: [Receipts]
      summary: Log receipt print / reprint
      operationId: logReceiptPrint
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '201':
          description: Print logged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /verify-receipt/{token}:
    get:
      tags: [Receipts]
      summary: Public receipt verification
      operationId: verifyReceipt
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Verification summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'

  /collector/wallet:
    get:
      tags: [Wallets]
      summary: Get collector cash wallet
      operationId: getCollectorWallet
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - name: collector_id
          in: query
          schema: { type: integer }
        - name: currency
          in: query
          schema: { type: string, minLength: 3, maxLength: 3 }
      responses:
        '200':
          description: Wallet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /collector/wallet/transactions:
    get:
      tags: [Wallets]
      summary: Collector wallet ledger
      operationId: listCollectorWalletTransactions
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - name: collector_id
          in: query
          schema: { type: integer }
      responses:
        '200':
          description: Transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /payment-settings:
    get:
      tags: [Payments]
      summary: Payment settings subset
      operationId: getPaymentSettings
      responses:
        '200':
          description: Settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
    put:
      tags: [Payments]
      summary: Update payment settings
      operationId: updatePaymentSettings
      responses:
        '200':
          description: Updated settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /reports/payments-summary:
    get:
      tags: [Reports]
      summary: Payments summary report
      operationId: reportPaymentsSummary
      parameters:
        - $ref: '#/components/parameters/BranchId'
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /reports/payments-sync-failures:
    get:
      tags: [Reports]
      summary: Payments with failed Zoho sync
      operationId: reportPaymentsSyncFailures
      parameters:
        - $ref: '#/components/parameters/BranchId'
      responses:
        '200':
          description: Failed payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /dashboard/summary:
    get:
      tags: [Reports]
      summary: Role-aware authenticated dashboard counts
      operationId: dashboardSummary
      responses:
        '200':
          description: Counts scoped for super admin, branch manager, or collector
          content:
            application/json:
[...]
